[submodule "biocypher"]
	path = biocypher
	url = https://github.com/biocypher/biocypher
[submodule "biochatter"]
	path = biochatter
	url = https://github.com/biocypher/biochatter
[submodule "biotope"]
	path = biotope
	url = https://github.com/biocypher/biotope
